body {
  font-family: "Arial", sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f0f0f0;
  padding-bottom: 50px;
}

header,
footer {
  background-color: #004aad;
  color: white;
  padding: 20px;
  text-align: center;
}

form,
#results {
  background-color: #fff;
  padding: 20px;
  margin: 20px auto;
  width: 90%;
  max-width: 600px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#educationSection {
  background-color: #d1ecf1;
  border-color: #bee5eb;
  padding: 10px;
  margin: 20px auto;
  width: 90%;
  max-width: 600px;
  color: #0c5460;
  text-align: center;
}

input[type="number"],
input[type="date"],
button {
  width: calc(100% - 20px);
  padding: 10px;
  margin: 5px 0;
}

button {
  background-color: #28a745;
  color: white;
  border: none;
  cursor: pointer;
}

button:hover {
  background-color: #218838;
}
